<footer>
    <section class="containerfoot">
        <div class="footercontainer">
            <div class="Hue">
                <hfoot class="logofoot">Hue</hfoot>
                <div class="strapline_foot">
                    Live your life in <spanfoot>colour</spanfoot>
                </div>
            </div>
            <div class="grid">
                <div class="follow">
                    <hfoot class="footheading">FOLLOW</hfoot>
                </div>
                <div class="contact">
                    <hfoot class="footheading">CONTACT</hfoot>
                </div>
                <div class="social">
                    <a href="https://www.instagram.com/"><img src="../images/instagram.png" width="30px" alt="instagram"></a>
                    <a href="https://www.facebook.com/"><img src="../images/facebook.png" width="30px" alt="facebook"></a>
                    <a href="https://twitter.com/"><img src="../images/twitter.png" width="30px" alt="x"></a>
                </div>
                <div class="email">
                    queries@hue.com
                </div>
            </div>
    </section>
    <hr color="white">

        <div class="copyright">
            <div class="Hue-rights">
            </div>
            <div class="privacy-policy">
               <a href="https://en.wikipedia.org/wiki/Privacy_policy">PRIVACY POLICY</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://en.wikipedia.org/wiki/Terms_of_service">TERMS & CONDITIONS</a>
            </div>
        </div>


    </div>
</footer>