<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hue</title>
    <!-- <link rel="stylesheet" href="/css/mobile.css"> -->
    <link rel="stylesheet" href="/css/desktop.css">
    <!-- link to fonts -->

    <!-- end of fonts -->
</head>

<body>
    <div class="container">
        <div class="topnav">
            <div class="leftnav">
                <nav>
                    <div class="gradient">
                        <a href="#home">Hue</a>
                    </div>
                </nav>
            </div>
            <div class="midnav">
                <nav>
                    <ul class="navbarlist">
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="#pallets">Palettes</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="/profile">Profile</a></li>
                    </ul>
                </nav>
            </div>
            <div class="rightnav">
                <nav>
                    <ul class="navbarlist">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="pbody">
            <h2 class="h2">Live your life in</h2>
            <h2 class="h2Colour">Colour</h2>
        </div>


        
        <div id="outputs"> </div>


        <!-- range slider -->
        <div class="wrapper">
            <label>Red</label><input type="range" min="0" max="255" value="0" id="red" oninput="colors()">
        </div>

        <div class="wrapper">
            <label>Green</label><input type="range" min="0" max="255" value="0" id="green" oninput="colors()">
        </div>

        <div class="wrapper">
            <label>Blue</label><input type="range" min="0" max="255" value="0" id="blue" oninput="colors()">
        </div>

        <!-- colour code output-->
        <span id="output">rgb(0, 0, 0)</span>
        <span id="hexOutput">hex(#000000)</span>
    </div>
    </div>
    <script src="/js/colourPicker.js"></script>

</body>

</html>