<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hue</title>
    <!-- <link rel="stylesheet" href="/css/mobile.css"> -->
    <link rel="stylesheet" href="/css/desktop.css" media="only screen and (min-width: 680px)">
    <!-- link to fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gabarito&family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap"
        rel="stylesheet">
    <!-- end of fonts -->
</head>

<body>
    <div class="container">
        <div class="topnav">
            <div class="leftnav">
                <nav>
                    <div class="gradient">
                        <a href="#home">Hue</a>
                    </div>
                </nav>
            </div>
            <div class="rightnav">
                <nav>
                    <a class="active" href="#home">Home</a>
                    <a href="#pallets">Palettes</a>
                    <a href="#about">About</a>
                    <a href="#account">Account</a>
                    <!-- <a class="navbar-brand" href="#">
                        <img src="" alt="" width="" height="" alt="">
                    </a> -->
                </nav>
            </div>
        </div>
        <div class="pbody">
            <p>still testing the text</p>
            <h2>Hue</h2>
            <h3>This is a test website where colour palettes will be displayed on the site</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugit nulla qui quasi voluptate quia
                porro,
                molestiae omnis commodi. Quia, amet deleniti suscipit quis eveniet explicabo consectetur corrupti sunt
                id ad ab
                nesciunt dolore corporis! Sint laboriosam cumque accusamus dolore reprehenderit error incidunt,
                consequuntur
                delectus iure maiores numquam maxime voluptates? </p>

        </div>
        <div id="outputs"> </div>


        <!-- range slider -->
        <div class="wrapper">
            Red<input type="range" min="0" max="255" value="0" id="red" oninput="colors()">
        </div>

        <div class="wrapper">
            Green<input type="range" min="0" max="255" value="0" id="green" oninput="colors()">
        </div>

        <div class="wrapper">
            Blue<input type="range" min="0" max="255" value="0" id="blue" oninput="colors()">
        </div>

        <!-- colour code output-->
        <span id="output">rgb(0, 0, 0)</span>
        <span id="hexOutput">hex(#000000)</span>
    </div>
    </div>
    <script src="/js/colourPicker.js"></script>

</body>

</html>