<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hue</title>
    <!-- <link rel="stylesheet" href="/css/mobile.css"> -->
    <link rel="stylesheet" href="/css/desktop.css">
    <!-- link to fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Candal&family=Gabarito:wght@400;500;600;700;800;900&family=Paytone+One&display=swap" rel="stylesheet">
    <!-- end of fonts -->
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="leftnav">
                <nav>
                    <div class="gradient">
                        <a href="/">Hue</a>
                    </div>
                </nav>
            </div>
            <div class="midnav">
                <nav>
                    <ul class="nav-menu">
                        <li><a href="/" class="nav-link">Home</a></li>
                        <li><a href="/palette" class="nav-link">Palettes</a></li>
                        <li><a href="/about" class="nav-link">About</a></li>
                        <li><a href="/profile" class="nav-link">Profile</a></li>
                    </ul>
                </nav>
            </div>
            <div class="rightnav">
                <nav>
                    <ul class="nav-menu">
                        <li><a href="/login" class="nav-link">Login</a></li>
                        <li><a href="/register" class="nav-link">Sign Up</a></li>
                    </ul>
                </nav>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
        <div class="pbody">
            <h2 class="h2">Live your life in</h2>
            <h2 class="h2Colour">Colour</h2>
        </div>

        <div class="dictionary">
            <p class="dictionaryTitle">Hue</p>
            <p class="dictionaryPro">[hju] noun</p>
            <p class="dictionaryWords">The degree of lightness, darkness, and strength of a colour.</p>
            <!-- Could just use as regular text and convert with sizes? -->
        </div>


    </div>
    <script src="/js/hamburger.js"></script>

</body>
<%- include ('footer'); %>
</html>