<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hue</title>
    <!-- <link rel="stylesheet" href="/css/mobile.css"> -->
    <link rel="stylesheet" href="/css/desktop.css">
    <!-- link to fonts -->

    <!-- end of fonts -->
</head>

<body>
    <div class="container">
        <div class="topnav">
            <div class="leftnav">
                <nav>
                    <div class="gradient">
                        <a href="#home">Hue</a>
                    </div>
                </nav>
            </div>
            <div class="midnav">
                <nav>
                    <ul class="navbarlist">
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="#pallets">Palettes</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="/profile">Profile</a></li>
                    </ul>
                </nav>
            </div>
            <div class="rightnav">
                <nav>
                    <ul class="navbarlist">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="pbody">
            <h2 class="h2">Live your life in</h2>
            <h2 class="h2Colour">Colour</h2>
        </div>

        <div class="dictionary">
            <p class="dictionaryTitle">Hue</p>
            <p class="dictionaryPro">[hju] noun</p>
            <p class="dictionaryWords">The degree of lightness, darkness, and strength of a colour.</p>
            <!-- Could just use as regular text and convert with sizes? -->
        </div>


    </div>

</body>
</html>
