<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hue</title>
    <link rel="stylesheet" href="/css/desktop.css">
    <!-- link to fonts -->
    <link rel="icon" type="image/x-icon" href="/images/favicon_logo.png">
</head>

<body>
    <div class="container">
        <!-- nav bar -->
        <%- include('navbarlogged'); %>
        <!-- home page -->
        <div class="main_page">
            <div class="main_content">
                <div class="strapline">
                    <div class="strapline_main">Live your life in</div>
                    <div class="strapline_colour">Colour</div>
                </div>
                <div class="main_info">
                    <div class="home_description">Generate and save your favourite colour palettes using our
                        interactive tools!</div>
                    <a href="/palette" class="nav-link">
                        <div class="start_button">
                            <div class="start_text">Get Started!</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script src="/js/hamburger.js"></script>
    </div>
    <%- include ('footer'); %>
</body>
</html>