<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/js/cookie.js"></script>
    <script> checkCookie()</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hue</title>
    <!-- <link rel="stylesheet" href="/css/mobile.css"> -->
    <link rel="stylesheet" href="/css/desktop.css">
    <!-- link to fonts -->
</head>

<body>
    <div class="container">
<!-- nav bar -->
<%- include ('navbar'); %>
<!-- home page -->

        <div class="pbody">
            <h2 class="h2">Live your life in</h2>
            <h2 class="h2Colour">Colour</h2>
        </div>

        <div class="dictionary">
            <p class="dictionaryTitle">Hue</p>
            <p class="dictionaryPro">[hju] noun</p>
            <p class="dictionaryWords">The degree of lightness, darkness, and strength of a colour.</p>
            <!-- Could just use as regular text and convert with sizes? -->
        </div>


    </div>
    <script src="/js/hamburger.js"></script>


</body>
<%- include ('footer'); %>
</html>