<!DOCTYPE html>
<html lang="en">

<head>
  <title>Log-in Hue</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/desktop.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon_logo.png">
  <!-- add css stylesheet in this and other EJS files -->
</head>

<body>
  <!--top nav bar-->

  <div class="container">
    <div class="navbar">
      <div class="leftnav">
        <nav>
          <div class="gradient">
            <a href="/">Hue</a>
          </div>
        </nav>
      </div>
      <div class="midnav">
        <nav>
          <ul class="nav-menu">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/palette" class="nav-link">Palettes</a></li>
            <li><a href="/about" class="nav-link">About</a></li>
            <li><a href="/profile" class="nav-link">Profile</a></li>
            <li><a href="/login" class="nav-link">Login</a></li>
            <li><a href="/register" class="nav-link">Sign Up</a></li>
          </ul>
        </nav>
      </div>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>

  <!--log-in form-->

  <div class="login">
    <form action="action_page.php" method="post">

      <div class="usernamecontainer">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <div class="forgotpasswordcontainer" style="background-color:white">
          <button type="button" class="forgotpasswordbtn">Forgot Password?</button>
        </div>

        <div class="accountbtns">
          <button type="submit" class="loginbtn">Login</button>
          <button type="submit" class="signupbtn">Sign-up</button>
        </div>

        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me

        </label>

      </div>


    </form>
  </div>
  <script src="/js/hamburger.js"></script>

</body>

</html>