<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/js/cookie.js"></script>
  <title>Log-in Hue</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/desktop.css">

  <!-- add css stylesheet in this and other EJS files -->
</head>

<body>
  <!--nav bar-->
<%- include ('navbar'); %>
  <!--log-in form-->

  <div class="login">
    <form action="/login" method="post">

      <div class="usernamecontainer">
        <label for="user"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="user" required>

        <label for="pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass" required>

        <div class="forgotpasswordcontainer" style="background-color:white">
          <button type="button" class="forgotpasswordbtn">Forgot Password?</button>
        </div>

        <div class="accountbtns">
          <button type="submit" class="loginbtn" id = "login" onclick="putCookie(document.getElementsByTagName('form'))">Login</button>
          <a href="/register" type="submit" class="signupbtn">Sign-up</a>
        </div>

        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me

        </label>

      </div>
    </form>
    <script> // listens for the register button when users register
      document.getElementById("login").addEventListener("submit", sendRegister);
      function sendRegister(e){
          const user = document.getElementById("username").value;
          const pass = document.getElementById("password").value;

          const body = {
              user: user,
              pass: pass,
          };

          const jsonBody = JSON.stringify(body);
          
          fetch("/login", {method: "POST",
                           headers: {"Content-Type": "application/json"},
                           body: `${jsonBody}`
                          }).then(res => console.log(res))
          // prevent routing to other page or refresh
          e.preventDefault();
          return false;
      }
  </script>
  </div>
  <script src="/js/hamburger.js"></script>

</body>
<%- include ('footer'); %>
</html>