<!-- This is the navbar which will be used when someone is logged in -->
<div class="container">
    <div class="navbar">
        <div class="leftnav">
            <nav>
                <div class="gradient">
                    <a href="/">Hue</a>
                </div>
            </nav>
        </div>
        <div class="midnav">
            <nav>
                <ul class="nav-menu">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/palette" class="nav-link">Palette Picker</a></li>
                    <li><a href="/profile" class="nav-link">Profile</a></li>
                    <li><a href="/logout" class="nav-link">Logout</a>
                    <% if (user) { %>
                        <p>Welcome, <%= user %>!</p>
                        <form method="GET" action="logout">
                            
                        </form>
                    <% } else { %>
                        <p>You are not logged in.</p>
                        <a href="/login">Login</a>
                    <% } %></li>
                </ul>
            </nav>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</div>