<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/cookie.js"></script>
    <script> checkCookie()</script>
    <title>Palette Picker</title>
    <link rel="stylesheet" href="/css/desktop.css">
</head>

<body>
<!-- nav bar -->
<%- include ('navbarlogged'); %>

<div class="container">

<!-- palette picker -->
        <div class="colourContainer">
            <div class="colourPicker">
                <div id="outputs"> </div>


                <!-- range slider -->
                <div class="wrapper">
                    <label class="wrapperLabel">Red</label><input type="range" min="0" max="255" value="0" id="red" oninput="colors()">
                    <label class="wrapperLabel">Green</label><input type="range" min="0" max="255" value="0" id="green" oninput="colors()">
                    <label class="wrapperLabel">Blue</label><input type="range" min="0" max="255" value="0" id="blue" oninput="colors()">
                </div>

                <!-- colour code output-->
                <div class="colourOutput">
                    <span id="output">rgb(0, 0, 0)</span>
                    <span id="hexOutput">hex(#000000)</span>
                </div>

                <div class="checkbox-group">
                    <label class="lbl"><input class="i" type="checkbox" id="monochromaticCheckbox" value="monochromatic" oninput="checkboxChecker(this)"> Monochromatic</label>
                    <label class="lbl"><input class="i" type="checkbox" id="complementaryCheckbox" value="complementary" oninput="checkboxChecker(this)"> Complementary</label>
                    <label class="lbl"><input class="i" type="checkbox" id="analogousCheckbox" value="analogous" oninput="checkboxChecker(this)"> Analogous</label>
                    <label class="lbl"><input class="i" type="checkbox" id="splitCheckbox" value="split" oninput="checkboxChecker(this)"> Split</label>
                </div>
               <button class="paletteGenBtn" id="paletteGenBtn" disabled onclick="generatePalettes()">Generate Palette</button>
                <button class="resetBtn" onclick="resetColors()">Reset</button>
            </div>
            <div class="divPaletteContainer">
                <div class="monochromatic">
                    <h2 class="paletteh2">Monochromatic</h2>
                    <div class="monochromaticContainer" id="monochromaticContainer">
                        <!-- <div width="20%" height="100px" class="swatch" id="monochromatic0"></div>
                        <div width="20%" height="100px" class="swatch" id="monochromatic1"></div>
                        <div width="20%" height="100px" class="swatch" id="monochromatic2"></div>
                        <div width="20%" height="100px" class="swatch" id="monochromatic3"></div>
                        <div width="20%" height="100px" class="swatch" id="monochromatic4"></div> -->
                    </div>
                    <button class="savePaletteBtn" id="monochromatic" onclick="savePalette(this)" >Save Palette</button> 
                </div>
                <div class="complementary">
                    <h2 class="paletteh2">Complementary</h2>
                    <div class="complementaryContainer" id="complementaryContainer">
                        <!-- <div width="20%" height="100px" class="swatch" id="complementary0"></div>
                        <div width="20%" height="100px" class="swatch" id="complementary1"></div>
                        <div width="20%" height="100px" class="swatch" id="complementary2"></div>
                        <div width="20%" height="100px" class="swatch" id="complementary3"></div>
                        <div width="20%" height="100px" class="swatch" id="complementary4"></div> -->
                    </div>
                    <button class="savePaletteBtn" id="complementary" onclick="savePalette(this)" >Save Palette</button>
                </div>
                <div class="analogous">
                    <h2 class="paletteh2">Analogous</h2>
                    <div class="analogousContainer" id="analogousContainer">
                        <!-- <div width="20%" height="100px" class="swatch" id="analogous0"></div>
                        <div width="20%" height="100px" class="swatch" id="analogous1"></div>
                        <div width="20%" height="100px" class="swatch" id="analogous2"></div>
                        <div width="20%" height="100px" class="swatch" id="analogous3"></div>
                        <div width="20%" height="100px" class="swatch" id="analogous4"></div> -->
                    </div>
                    <button class="savePaletteBtn" id="analogous" onclick="savePalette(this)" >Save Palette</button> 
                </div>
                <div class="random">
                    <h2 class="paletteh2">Split</h2>
                    <div class="splitContainer" id="splitContainer">
                        <!-- <div width="20%" height="100px" class="swatch" id="split0"></div>
                        <div width="20%" height="100px" class="swatch" id="split1"></div>
                        <div width="20%" height="100px" class="swatch" id="split2"></div>
                        <div width="20%" height="100px" class="swatch" id="split3"></div>
                        <div width="20%" height="100px" class="swatch" id="split4"></div> -->
                    </div>
                    <button class="savePaletteBtn" id="split" onclick="savePalette(this)" >Save Palette</button> 
                </div>
            </div>
        </div>
    </div>
    <script src="/js/colourPicker.js"></script>
    <script src="/js/savePalette.js"></script>
    <script src="/js/hamburger.js"></script>

</body>
<%- include ('footer'); %>
</html>