<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palette Picker</title>
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon_logo.png">
</head>

<body>
<!-- nav bar -->
<%- include ('navbarlogged'); %>

<!-- palette picker -->
    <div class="colourContainer">
        <div class="colourPicker">
            <div id="outputs"> </div>


            <!-- range slider -->
            <div class="wrapper">
                <label class="wrapperLabel">Red</label><input aria-label="Red input" type="range" min="0" max="255" value="0" id="red" oninput="colors()">
                <label class="wrapperLabel">Green</label><input aria-label="Green input" type="range" min="0" max="255" value="0" id="green" oninput="colors()">
                <label class="wrapperLabel">Blue</label><input aria-label="Blue input" type="range" min="0" max="255" value="0" id="blue" oninput="colors()">
            </div>

            <!-- colour code output-->
            <div class="colourOutput">
                <span id="output">rgb(0, 0, 0)</span>
                <span id="hexOutput">hex(#000000)</span>
                <span id ="hslOutput">hsl(0, 0%, 0%)</span>
                <span id ="cwykOutput">cmyk(0,0,0,1)</span>
            </div>

            <!-- user input-->
            <div class="userInputContainer">
                <label for="hex"><b>Hex Code</b></label>
                <input type="text" id="userHexCode" placeholder="Enter Hex Code: #009aFF" name="hex">
        
                <label for="rgb"><b>RGB</b></label>
                <input type="text" id="userRgb" placeholder="Enter RGB: (0,125,255)" name="rgb">
                <button type="submit" class="userInput" id="userInput" onclick="userInput()">Submit</button>
            </div>

            <!-- checkboxes -->
            <div class="checkbox-group">
                <label class="lbl"><input class="i" type="checkbox" id="monochromaticCheckbox" value="monochromatic" oninput="checkboxChecker(this)"> Monochromatic</label>
                <label class="lbl"><input class="i" type="checkbox" id="complementaryCheckbox" value="complementary" oninput="checkboxChecker(this)"> Complementary</label>
                <label class="lbl"><input class="i" type="checkbox" id="analogousCheckbox" value="analogous" oninput="checkboxChecker(this)"> Analogous</label>
                <label class="lbl"><input class="i" type="checkbox" id="splitCheckbox" value="split" oninput="checkboxChecker(this)"> Split</label>
            </div>
            <!-- Buttons for the palette generator -->

            <button class="paletteGenBtn" id="paletteGenBtn" disabled onclick="generatePalettes()">Generate Palette</button>
            <button class="generateRandomBtn" onclick="generateRandomPalette()">Randomise</button>
            <button class="resetBtn" onclick= "window.location.reload()" >Reset</button>

        </div>
        <div class="divPaletteContainer">
            <div class="monochromatic">
                <h2 class="paletteh2">Monochromatic</h2>
                <div class="monochromaticContainer" id="monochromaticContainer">
                </div>
                <button class="savePaletteBtn" id="monochromatic" onclick="savePalette(this)" >Save Palette</button> 
            </div>
            <div class="complementary">
                <h2 class="paletteh2">Complementary</h2>
                <div class="complementaryContainer" id="complementaryContainer">
                </div>
                <button class="savePaletteBtn" id="complementary" onclick="savePalette(this)" >Save Palette</button>
            </div>
            <div class="analogous">
                <h2 class="paletteh2">Analogous</h2>
                <div class="analogousContainer" id="analogousContainer">
                </div>
                <button class="savePaletteBtn" id="analogous" onclick="savePalette(this)" >Save Palette</button> 
            </div>
            <div class="random">
                <h2 class="paletteh2">Split</h2>
                <div class="splitContainer" id="splitContainer">
                </div>
                <button class="savePaletteBtn" id="split" onclick="savePalette(this)" >Save Palette</button> 
            </div>
        </div>
    </div>
    <script src="/js/converters.js"></script>
    <script src="/js/colourPicker.js"></script>
    <script src="/js/savePalette.js"></script>
    <script src="/js/userInput.js"></script>
    <script src="/js/hamburger.js"></script>

</body>
<%- include ('footer'); %>
</html>