<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palette Picker</title>
    <link rel="stylesheet" href="/css/desktop.css">
</head>

<body>

    <div class="container">
        <div class="navbar">
            <div class="leftnav">
                <nav>
                    <div class="gradient">
                        <a href="/">Hue</a>
                    </div>
                </nav>
            </div>
            <div class="midnav">
                <nav>
                    <ul class="nav-menu">
                        <li><a href="/" class="nav-link">Home</a></li>
                        <li><a href="/palette" class="nav-link">Palette Picker</a></li>
                        <li><a href="/about" class="nav-link">About</a></li>
                        <li><a href="/profile" class="nav-link">Profile</a></li>
                        <li><a href="/login" class="nav-link">Login</a></li>
                        <li><a href="/register" class="nav-link">Sign Up</a></li>
                    </ul>
                </nav>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>

        <div class="colourContainer">
            <div class="colourPicker">
                <div id="outputs"> </div>


                <!-- range slider -->
                <div class="wrapper">
                    <label class="wrapperLabel">Red</label><input type="range" min="0" max="255" value="0" id="red" oninput="colors()">
                    <label class="wrapperLabel">Green</label><input type="range" min="0" max="255" value="0" id="green" oninput="colors()">
                    <label class="wrapperLabel">Blue</label><input type="range" min="0" max="255" value="0" id="blue" oninput="colors()">
                </div>

                <!-- colour code output-->
                <div class="colourOutput">
                    <span id="output">rgb(0, 0, 0)</span>
                    <span id="hexOutput">hex(#000000)</span>
                </div>

                <div class="checkbox-group">
                    <label><input type="checkbox" id="monochromaticCheckbox" oninput="checkboxChecker()"> Monochromatic</label>
                    <label><input type="checkbox" id="complementaryCheckbox" oninput="checkboxChecker()"> Complementary</label>
                    <label><input type="checkbox" id="analogousCheckbox" oninput="checkboxChecker()"> Analogous</label>
                </div>
                <button class="paletteGenBtn" onclick="generatePalettes()">Generate Palette</button>
                <button class="resetBtn" onclick="">Reset</button>
            </div>
            <div class="divPaletteContainer">
                <div class="monochromatic">
                    <h2 class="paletteh2">Monochromatic</h2>
                    <div class="palette-container" id="paletteContainer"></div>
                    <button class="savePaletteBtn" onclick="">Save Palette</button> <!-- This should appear when palette is generated-->
                </div>
                <div class="complementary">
                    <h2 class="paletteh2">Complementary</h2>
                    <div class="complementaryContainer"></div>
                </div>
                <div class="analogous">
                    <h2 class="paletteh2">Analogous</h2>
                    <div class="analogousContainer"></div>
                </div>
                <div class="random">
                    <h2 class="paletteh2">Random</h2>
                    <div class="randomContainer"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/colourPicker.js"></script>
    <script src="/js/hamburger.js"></script>

</body>

</html>