<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/js/cookie.js"></script>
    <script> checkCookie()</script>
    <title>Profile Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/desktop.css">

    <!-- add css stylesheet in this and other EJS files -->
</head>

<body>
    <!--top nav bar-->

    <div class="container">
        <!-- nav bar -->
        <%- include ('navbar'); %>
        <div class="profpage">
            <div class="userprofile">
                <img src="/../images/Leeds_United_Fc_Black.png" alt="profilepic" class="profilepic">
                <div class="accname">
                    <h1 class="usergradient">User's</h1>
                    <h1>Account</h1>
                </div>
            </div>
            <div class="savedpalette">
                <h1>Saved Palettes</h1>
                <!-- Drop down for palette selection -->
                <select name="favselect" id="favselect">
                    <option value="all">All</option>
                    <option value="monochromatic">Monochromatic</option>
                    <option value="complementary">Complementary</option>
                    <option value="analogous">Analogous</option>
                </select>
                <br><br>
                <input type="submit" value="Submit">
            </div>
        </div>
    </div>
    <div class="profpage">
        <div class="userprofile">
            <img src="/../images/Leeds_United_Fc_Black.png" alt="profilepic" class="profilepic">
            <div class="accname">
                <h1 class="usergradient"><%= user %>'s</h1>
                <h1><p>Profile</p></h1>
            </div>
        </div>
        <div class="savedpalette">
            <h1>Saved Palettes</h1>
            <!-- Drop down for palette selection -->
            <select name="favselect" id="favselect">
                <option value="all">All</option>
                <option value="monochromatic">Monochromatic</option>
                <option value="complementary">Complementary</option>
                <option value="analogous">Analogous</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </div>
    </div>
    <script src="/js/hamburger.js"></script>

</body>
<%- include ('footer'); %>

</html>