<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log-in Hue</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/desktop.css">

    <!-- add css stylesheet in this and other EJS files -->
</head>

<body>
    <!--top nav bar-->

    <div class="container">
        <div class="navbar">
            <div class="leftnav">
                <nav>
                    <div class="gradient">
                        <a href="/">Hue</a>
                    </div>
                </nav>
            </div>
            <div class="midnav">
                <nav>
                    <ul class="nav-menu">
                        <li><a href="/" class="nav-link">Home</a></li>
                        <li><a href="/palette" class="nav-link">Palettes</a></li>
                        <li><a href="/about" class="nav-link">About</a></li>
                        <li><a href="/profile" class="nav-link">Profile</a></li>
                    </ul>
                </nav>
            </div>
            <div class="rightnav">
                <nav>
                    <ul class="nav-menu">
                        <li><a href="/login" class="nav-link">Login</a></li>
                        <li><a href="/register" class="nav-link">Sign Up</a></li>
                    </ul>
                </nav>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>

    <script src="/js/hamburger.js"></script>

</body>

</html>