<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log-in Hue</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon_logo.png">
    <!-- add css stylesheet in this and other EJS files -->
</head>

<body>

    <div class="container">
        <!-- nav bar -->
        <%- include ('navbar'); %>
    <!--log-in form-->

        <div class="reg">
            <form id="regform" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <button class="signupbtn" type="submit">Register</button>
            </form>
            <div class="deleteAccount">
                <% if (locals.message) { %>
                  <p><%= locals.message %></p>
                <% } %>
              </div>
        </div>
    </div>
    

    <script> // listens for the register button when users register
        document.getElementById("regform").addEventListener("submit", sendRegister);
        function sendRegister(e){
            const user = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const pass = document.getElementById("password").value;

            const body = {
                user: user,
                email: email,
                pass: pass,
            };

            const jsonBody = JSON.stringify(body);
            
            fetch("/users", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: `${jsonBody}`,
            })
            .then((res) => {
                if (res.ok) {
                    // redirect to profile page
                    window.location.href = res.url;
                } else {
                    console.log("Registration failed");
                }
            })
            .catch((err) => console.error(err));
            e.preventDefault();
            return false;
        }
        </script>
    <script src="/js/hamburger.js"></script>

</body>
<%- include ('footer'); %>
</html>