<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log-in Hue</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon_logo.png">
</head>

<body>
    <!-- nav bar -->
    <%- include ('navbar'); %>
    <div class="container">
        <!--log-in form-->
        <div class="reg">
            <form id="regform">
                <label for="username"><b>Username</b></label>
                <input type="text" id="username" name="username" required><br>
                <label for="email"><b>Email</b></label>
                <input type="email" id="email" name="email" required><br>
                <label for="password"><b>Password</b></label>
                <input type="password" id="password" name="password" required><br>
                <button class="signupbtn" type="submit">Register</button>
            </form>
            <div class="deleteAccount">
                <% if (locals.message) { %>
                  <p><%= locals.message %></p>
                <% } %>
            </div>
        </div>
    </div>
    <script src="/js/sendRegister.js"></script>
    <script src="/js/hamburger.js"></script>
    <%- include ('footer'); %>
</body>
</html>