@import url('https://fonts.googleapis.com/css2?family=Candal&family=Gabarito:wght@400;500;600;700;800;900&family=Paytone+One&display=swap');

* {
    font-family: 'Gabarito', cursive;
    font-family: 'Roboto', sans-serif;
}

/* Add margin to container  */
.container {
    margin: 0px 20px 0px 20px;
}

#outputs {
    height: 200px;
    width: 92%;
    background: #000;
    border: top left radius 5px;
    ;
    border-top-right-radius: 5px;
}

.wrapper {
    width: 100%;
    text-align: start;
}

/* Ensures three input lines are lined up vertically */
label {
    display: inline-block;
    min-width: 5%;
}

input[type="range"] {
    display: inline-block;
    width: 80%;
    margin-left: 10px;
    margin-top: 25px;
}

span {
    display: inline-block;
    text-align: center;
    margin: 20px 0;
    background: #84c4e1;
    color: #fff;
    padding: 2px 20px;
    box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
    font-size: 18px;
    letter-spacing: 0.5px;
    border-radius: 2px;
}

.pbody {
    display: flex;
    gap: 1em;
}

.h2 {
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 3px;
    font-family: 'Paytone One', sans-serif;
}

.pbody>.h2Colour {
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 3px;
    background: linear-gradient(to right,
            #9AD0F8 20%,
            #8DB2f3 40%,
            #7B86ED 60%,
            #7577Ec 80%,
            #6d62e9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite alternate;
    border: none;
}

/* Ensures H2 lines up across dfferent screen widths */

@media screen and (max-width: 1124px) {
    .pbody>.h2Colour {
        font-size: 54px;
    }

    .h2 {
        font-size: 54px;
    }

    .pbody {
        display: flex;
        gap: 0.5em;
    }
}

@media screen and (max-width: 924px) {
    .pbody>.h2Colour {
        font-size: 48px;
    }

    .h2 {
        font-size: 48px;
    }

    .pbody {
        display: flex;
        gap: 0.5em;
    }
}

@media screen and (max-width: 724px) {
    .pbody>.h2Colour {
        font-size: 36px;
    }

    .h2 {
        font-size: 36px;
    }

    .pbody {
        display: flex;
        gap: 0.5em;
    }
}

@media screen and (max-width: 524px) {
    .pbody>.h2Colour {
        font-size: 20px;
    }

    .h2 {
        font-size: 20px;
    }

    .pbody {
        display: flex;
        gap: 0.25em;
    }
}

/* Navbar */

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

}

.navbar a {
    float: left;
    color: #333;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: linear-gradient(to right,
            #9AD0F8 20%,
            #8DB2f3 40%,
            #7B86ED 60%,
            #7577Ec 80%,
            #6d62e9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite alternate;
    border: none;
}

/* navbar list elements formatting */
.navbarlist {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* burger */
.header {
    border-bottom: solid 1px #E2E8F0;
}

.header>li {
    list-style: none;
}

.header>a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 2px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 1rem;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        list-style: none;

    }

    .gradient>a {
        font-family: 'Paytone One', sans-serif;
        font-weight: bold;
        font-size: 72px;
        letter-spacing: 3px;
        background: linear-gradient(to right,
                #9AD0F8 20%,
                #8DB2f3 40%,
                #7B86ED 60%,
                #7577Ec 80%,
                #6d62e9 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background-size: 500% auto;
        animation: textShine 2s ease-in-out infinite alternate;
        border: none;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* end of burger */

.navbar a.active {
    color: black;
}

.gradient>a, .logofoot {
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 3px;
    background: linear-gradient(to right,
            #9AD0F8 20%,
            #8DB2f3 40%,
            #7B86ED 60%,
            #7577Ec 80%,
            #6d62e9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite alternate;
    border: none;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* Dictionary homepage element */
/* add media queries for different screen widths */
/* might not be needed due to height being fixed? */
.dictionary {
    height: 300px;
    width: 60%;
    background-color: #bebebe;
    margin-left: 5%;
}

.dictionaryWords,
.dictionaryPro,
.dictionaryTitle {
    background-color: #bebebe;
    padding-left: 10%;
    padding-right: 10%;
}

.dictionaryTitle {
    font-size: 48px;
    padding-top: 5%;
    font-weight: 500;
}

.dictionaryPro {
    font-size: 30px;
}

.dictionaryWords {
    font-size: 20px;
}

/* Bordered form */
form {
    border: 3px solid white;
}

.usernamecontainer {
    text-align: center;
    width: 100%;
}

/* Full-width inputs */
input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
}

/* Sets the display for the register and login buttons */
.accountbtns {
    display: flex;
    justify-content: space-evenly;
}

/* Set a style for login button */
.loginbtn {
    background: linear-gradient(to right,
            #9AD0F8 20%,
            #8DB2f3 40%,
            #7B86ED 60%,
            #7577Ec 80%,
            #6d62e9 100%);
    animation: forwards;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    border-radius: 4px;
}

/* Adds the gradient effect to the button */
.signupbtn {
    background: linear-gradient(to right,
            #6d62e9 20%,
            #7577Ec 40%,
            #7B86ED 60%,
            #8DB2f3 80%,
            #9AD0F8 100%);
    animation: forwards;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    border-radius: 4px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* The "Forgot password" text */


/* Change styles for forgot and cancel button on extra small screens */
.forgotpasswordcontainer {
    display: flex;
    justify-content: right;
}

.forgotpasswordbtn {
    text-align: center;
    width: 20%;
    border-radius: 4px;
    border: none;
}

.forgotpasswordbtn:hover {
    background: linear-gradient(to right,
            #9AD0F8 20%,
            #8DB2f3 40%,
            #7B86ED 60%,
            #7577Ec 80%,
            #6d62e9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite alternate;
    border: none;
}

.palette-container {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    x justify-content: space-between;
}

.checkbox-group label {
    margin-right: 20px;
}

footer {
    background-color: #a9c3f634;
    color: #9AA8C4;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.footercontainer {
    display: flex;

}

.containerfoot {
    display: flex;
    font-size: 20px;
    flex-direction: column;
}

.Hue {
    flex-basis: 100%;
    padding-bottom: 10px;
}

.follow {
    display: flex;
    flex-basis: 0%;
    float: left;
}

.contact {
    flex-basis: 30%;
}

.logofoot {
    font-size: 36px;
    margin-bottom: 10px;
}

.strapline {
    color: #000000;
    font-family: 'Paytone One', sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
}

spanfoot {
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    background: linear-gradient(to right,
            #9AD0F8 20%,
            #8DB2f3 40%,
            #7B86ED 60%,
            #7577Ec 80%,
            #6d62e9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.email {
    font-family: 'Candal', sans-serif;
    font-size: 16px;

}

.footheading {
    font-family: 'Candal';
    font-size: 12pt;
    letter-spacing: 0.5pt;
}

.grid {
    display: grid;
    grid-template-columns: 150px 150px;
    padding-right: 200px;
}

.hr {
    color: rgb(255, 255, 255);

}